/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package no.vegvesen.nvdb.vegnett.api

import no.vegvesen.nvdb.vegnett.model.AlwaysIncludeMapStringPosisjon
import no.vegvesen.nvdb.vegnett.model.Posisjon
import no.vegvesen.nvdb.vegnett.model.PosisjonMedAvstand
import no.vegvesen.nvdb.vegnett.model.ProblemDetail

import no.vegvesen.nvdb.vegnett.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder
import com.fasterxml.jackson.databind.ObjectMapper

    open class PosisjonApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    jsonBlock: ObjectMapper.() -> Unit = ApiClient.JSON_DEFAULT,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
        jsonBlock,
    ) {

        /**
        * GET /api/v4/posisjon
        * Finn nærmeste posisjon på vegnettet for gitte koordinater. Koordinater kan angis som &#x60;nord&#x60; og &#x60;ost&#x60; eller &#x60;lat&#x60; og &#x60;lon&#x60;.
        * 
         * @param nord Nordlig koordinat (optional)
         * @param ost Østlig koordinat (optional)
         * @param lat Breddegrad (optional)
         * @param lon Lengdegrad (optional)
         * @param maksAvstand Angir søkeavstand i meter (optional)
         * @param maksAntall Angir maks antall treff (optional)
         * @param konnekteringslenker Angir om det skal returneres treff på konnekteringslenker (optional)
         * @param detaljerteLenker Angir om det skal returneres treff på detaljerte lenker (optional)
         * @param tidspunkt Begrens spørring til det gitte tidspunktet. (optional)
         * @param vegsystemreferanse Filtrer på [vegsystemreferanse](https://nvdbapiles-v3.atlas.vegvesen.no/dokumentasjon/#vegsystemreferanse). Kommaseparert liste. Legg til kommunenummer i starten av vegsystemreferansen for å filtrere på område.  Eksempel: &#x60;EV6S1D1 m12&#x60; (optional)
         * @param srid Angir hvilket geografisk referansesystem geometrien skal returneres i. Utdata i UTM-formater begrenses til 3 desimaler, 4326/WGS84 begrenses til 8 desimaler. Mer informasjon: &lt;a href&#x3D;&#39;https://epsg.io/5972&#39;&gt;EPSG:5972&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/5973&#39;&gt;EPSG:5973&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/5975&#39;&gt;EPSG:5975&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/4326&#39;&gt;EPSG:4326&lt;/a&gt;. (optional)
         * @param trafikantgruppe Filtrer på trafikantgruppe. (optional)
         * @return kotlin.collections.List<PosisjonMedAvstand>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun findPosisjon(nord: kotlin.Double?, ost: kotlin.Double?, lat: kotlin.Double?, lon: kotlin.Double?, maksAvstand: kotlin.Int?, maksAntall: kotlin.Int?, konnekteringslenker: kotlin.Boolean?, detaljerteLenker: kotlin.Boolean?, tidspunkt: java.time.LocalDate?, vegsystemreferanse: kotlin.collections.Set<kotlin.String>?, srid: kotlin.String?, trafikantgruppe: kotlin.String?): HttpResponse<kotlin.collections.List<PosisjonMedAvstand>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            nord?.apply { localVariableQuery["nord"] = listOf("$nord") }
            ost?.apply { localVariableQuery["ost"] = listOf("$ost") }
            lat?.apply { localVariableQuery["lat"] = listOf("$lat") }
            lon?.apply { localVariableQuery["lon"] = listOf("$lon") }
            maksAvstand?.apply { localVariableQuery["maks_avstand"] = listOf("$maksAvstand") }
            maksAntall?.apply { localVariableQuery["maks_antall"] = listOf("$maksAntall") }
            konnekteringslenker?.apply { localVariableQuery["konnekteringslenker"] = listOf("$konnekteringslenker") }
            detaljerteLenker?.apply { localVariableQuery["detaljerte_lenker"] = listOf("$detaljerteLenker") }
            tidspunkt?.apply { localVariableQuery["tidspunkt"] = listOf("$tidspunkt") }
            vegsystemreferanse?.apply { localVariableQuery["vegsystemreferanse"] = toMultiValue(this, "multi") }
            srid?.apply { localVariableQuery["srid"] = listOf("$srid") }
            trafikantgruppe?.apply { localVariableQuery["trafikantgruppe"] = listOf("$trafikantgruppe") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v4/posisjon",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /api/v4/veg
        * Slå opp posisjon på veglenkesekvens eller vegsystemreferanse
        * 
         * @param vegsystemreferanse Finn posisjon for [vegsystemreferanse](https://nvdbapiles-v3.atlas.vegvesen.no/dokumentasjon/#vegsystemreferanse). Må inneholde én enkelt meterverdi. Legg til kommunenummer i starten av vegsystemreferansen for å filtrere på område.  Eksempel: &#x60;EV6S1D1m341&#x60; (optional)
         * @param veglenkesekvens Finn posisjon på veglenkesekvens. Format: &#x60;posisjon@veglenkesekvensid&#x60;.  Eksempel: &#x60;0.456@1226&#x60; (optional)
         * @param tidspunkt Begrens spørring til det gitte tidspunktet. (optional)
         * @param srid Angir hvilket geografisk referansesystem geometrien skal returneres i. Utdata i UTM-formater begrenses til 3 desimaler, 4326/WGS84 begrenses til 8 desimaler. Mer informasjon: &lt;a href&#x3D;&#39;https://epsg.io/5972&#39;&gt;EPSG:5972&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/5973&#39;&gt;EPSG:5973&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/5975&#39;&gt;EPSG:5975&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/4326&#39;&gt;EPSG:4326&lt;/a&gt;. (optional)
         * @param kommune Filtrer på kommune. Kommaseparert liste. Se [/omrader/api/v4/kommuner](https://nvdbapiles.atlas.vegvesen.no/webjars/swagger-ui/index.html?urls.primaryName&#x3D;Omr%C3%A5der) for mulige verdier.  Eksempel: &#x60;5001&#x60; (optional)
         * @return Posisjon
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun findPosisjonForVeg(vegsystemreferanse: kotlin.String?, veglenkesekvens: kotlin.String?, tidspunkt: java.time.LocalDate?, srid: kotlin.String?, kommune: kotlin.collections.Set<kotlin.Int>?): HttpResponse<Posisjon> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            vegsystemreferanse?.apply { localVariableQuery["vegsystemreferanse"] = listOf("$vegsystemreferanse") }
            veglenkesekvens?.apply { localVariableQuery["veglenkesekvens"] = listOf("$veglenkesekvens") }
            tidspunkt?.apply { localVariableQuery["tidspunkt"] = listOf("$tidspunkt") }
            srid?.apply { localVariableQuery["srid"] = listOf("$srid") }
            kommune?.apply { localVariableQuery["kommune"] = toMultiValue(this, "multi") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v4/veg",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /api/v4/veg/batch
        * Slå opp flere posisjoner på veglenkesekvens eller vegsystemreferanse
        * 
         * @param vegsystemreferanser Finn posisjoner for [vegsystemreferanser](https://nvdbapiles-v3.atlas.vegvesen.no/dokumentasjon/#vegsystemreferanse). Må inneholde én enkelt meterverdi. Legg til kommunenummer i starten av vegsystemreferansen for å filtrere på område.  Eksempel: &#x60;EV6S1D1m341&#x60; (optional)
         * @param veglenkesekvenser Finn posisjoner på veglenkesekvenser. Format: &#x60;posisjon@veglenkesekvensid&#x60;.  Eksempel: &#x60;0.456@1226&#x60; (optional)
         * @param kommune Filtrer på kommune. Kommaseparert liste. Se [/omrader/api/v4/kommuner](https://nvdbapiles.atlas.vegvesen.no/webjars/swagger-ui/index.html?urls.primaryName&#x3D;Omr%C3%A5der) for mulige verdier.  Eksempel: &#x60;5001&#x60; (optional)
         * @param srid Angir hvilket geografisk referansesystem geometrien skal returneres i. Utdata i UTM-formater begrenses til 3 desimaler, 4326/WGS84 begrenses til 8 desimaler. Mer informasjon: &lt;a href&#x3D;&#39;https://epsg.io/5972&#39;&gt;EPSG:5972&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/5973&#39;&gt;EPSG:5973&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/5975&#39;&gt;EPSG:5975&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/4326&#39;&gt;EPSG:4326&lt;/a&gt;. (optional)
         * @return AlwaysIncludeMapStringPosisjon
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun findPosisjonerForVeg(vegsystemreferanser: kotlin.collections.List<kotlin.String>?, veglenkesekvenser: kotlin.collections.List<kotlin.String>?, kommune: kotlin.collections.Set<kotlin.Int>?, srid: kotlin.String?): HttpResponse<AlwaysIncludeMapStringPosisjon> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            vegsystemreferanser?.apply { localVariableQuery["vegsystemreferanser"] = toMultiValue(this, "multi") }
            veglenkesekvenser?.apply { localVariableQuery["veglenkesekvenser"] = toMultiValue(this, "multi") }
            kommune?.apply { localVariableQuery["kommune"] = toMultiValue(this, "multi") }
            srid?.apply { localVariableQuery["srid"] = listOf("$srid") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v4/veg/batch",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
