/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package no.vegvesen.nvdb.vegobjekter.api

import no.vegvesen.nvdb.vegobjekter.model.ProblemDetail
import no.vegvesen.nvdb.vegobjekter.model.Vegobjekt
import no.vegvesen.nvdb.vegobjekter.model.VegobjekterSide

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class VegobjekterApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)


    /**
     * enum for parameter inkluder
     */
    @Serializable
    enum class InkluderGetVegobjektById(val value: kotlin.String) {
        
        @SerialName(value = "metadata")
        metadata("metadata"),
        
        @SerialName(value = "egenskaper")
        egenskaper("egenskaper"),
        
        @SerialName(value = "relasjoner")
        relasjoner("relasjoner"),
        
        @SerialName(value = "lokasjon")
        lokasjon("lokasjon"),
        
        @SerialName(value = "vegsegmenter")
        vegsegmenter("vegsegmenter"),
        
        @SerialName(value = "geometri")
        geometri("geometri"),
        
        @SerialName(value = "alle")
        alle("alle"),
        
        @SerialName(value = "minimum")
        minimum("minimum")
        
    }


    /**
     * enum for parameter srid
     */
    @Serializable
    enum class SridGetVegobjektById(val value: kotlin.String) {
        
        @SerialName(value = "5972")
        _5972("5972"),
        
        @SerialName(value = "5973")
        _5973("5973"),
        
        @SerialName(value = "5975")
        _5975("5975"),
        
        @SerialName(value = "4326")
        _4326("4326"),
        
        @SerialName(value = "UTM32")
        uTM32("UTM32"),
        
        @SerialName(value = "UTM33")
        uTM33("UTM33"),
        
        @SerialName(value = "UTM35")
        uTM35("UTM35"),
        
        @SerialName(value = "WGS84")
        wGS84("WGS84")
        
    }


    /**
     * enum for parameter inkludergeometri
     */
    @Serializable
    enum class InkludergeometriGetVegobjektById(val value: kotlin.String) {
        
        @SerialName(value = "ingen")
        ingen("ingen"),
        
        @SerialName(value = "egenskaper")
        egenskaper("egenskaper"),
        
        @SerialName(value = "lokasjon")
        lokasjon("lokasjon"),
        
        @SerialName(value = "utledet")
        utledet("utledet")
        
    }


    /**
     * enum for parameter inkluderEgenskaper
     */
    @Serializable
    enum class InkluderEgenskaperGetVegobjektById(val value: kotlin.String) {
        
        @SerialName(value = "basis")
        basis("basis"),
        
        @SerialName(value = "assosiasjon")
        assosiasjon("assosiasjon"),
        
        @SerialName(value = "stedfesting")
        stedfesting("stedfesting"),
        
        @SerialName(value = "geometri")
        geometri("geometri"),
        
        @SerialName(value = "alle")
        alle("alle")
        
    }

    /**
     * Hent enkelt vegobjekt
     * 
     * @param id ID for vegobjekt som skal hentes.
     * @param inkluder Kommaseparert liste over hvilke informasjonselementer som skal returneres i tillegg til vegobjektenes ID. (optional)
     * @param srid Angir hvilket geografisk referansesystem som benyttes for geografisk søk, og som geometrien skal returneres i (hvis relevant). Utdata i UTM-formater begrenses til 3 desimaler, 4326/WGS84 begrenses til 8 desimaler. Mer informasjon: &lt;a href&#x3D;&#39;https://epsg.io/5972&#39;&gt;EPSG:5972&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/5973&#39;&gt;EPSG:5973&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/5975&#39;&gt;EPSG:5975&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/4326&#39;&gt;EPSG:4326&lt;/a&gt;. (optional)
     * @param inkludergeometri Et vegobjekt har opptil to geometrier, egengeometri og stedfestet geometri. Egengeometrien er plassert under &#x60;vegobjekt.egenskaper&#x60; om den finnes, stedfestet geometri er plassert under &#x60;vegobjekt.lokasjon&#x60;. I tillegg til de nevnte feltene på vegobjekt-responsen returneres også &#x60;vegobjekt.geometri&#x60; (dersom man har &#x60;inkluder&#x3D;geometri&#x60; eller &#x60;alle&#x60;), slik at man alltid finner geometrien for vegobjektet ett sted. Dette feltet er egengeometri dersom objektet har det, hvis ikke har feltet stedfestet geometri Ved hvilken av disse som er tilfelle finner man ut ved å se på &#x60;vegobjekt.geometri.egengeometri&#x60;. (optional)
     * @param inkluderEgenskaper Gir mulighet til å filtrere hvilke egenskaper som skal returneres med inkluder&#x3D;egenskaper. &#x60;basis&#x60; er alle egenskaper som ikke er assosiasjoner, stedfesting, geometri, eller lister av disse. (optional)
     * @param dybde Hvor mange nivå barn skal inkluderes. 1 betyr bare IDer, 2-n betyr ett eller flere mellomnivåer, &#39;full&#39; betyr alle nivåer. (optional)
     * @param geometritoleranse Angir om det skal returneres en forenklet geometri. Dersom parameteren utelates, returneres full geometri for vegobjektene. Nummeret angir distansetoleranse i meter for generering av forenklet geometri. (optional)
     * @param tidspunkt Finner versjonen som var gyldig denne datoen. (optional)
     * @return Vegobjekt
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getVegobjektById(id: kotlin.Long, inkluder: kotlin.collections.List<InkluderGetVegobjektById>? = null, srid: SridGetVegobjektById? = null, inkludergeometri: InkludergeometriGetVegobjektById? = null, inkluderEgenskaper: InkluderEgenskaperGetVegobjektById? = null, dybde: kotlin.String? = null, geometritoleranse: kotlin.Int? = null, tidspunkt: java.time.LocalDate? = null): HttpResponse<Vegobjekt> {

        val localVariableAuthNames = listOf<String>("bearerAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        id?.apply { localVariableQuery["id"] = listOf("$id") }
        inkluder?.apply { localVariableQuery["inkluder"] = toMultiValue(this, "multi") }
        srid?.apply { localVariableQuery["srid"] = listOf("$srid") }
        inkludergeometri?.apply { localVariableQuery["inkludergeometri"] = listOf("$inkludergeometri") }
        inkluderEgenskaper?.apply { localVariableQuery["inkluder_egenskaper"] = listOf("$inkluderEgenskaper") }
        dybde?.apply { localVariableQuery["dybde"] = listOf("$dybde") }
        geometritoleranse?.apply { localVariableQuery["geometritoleranse"] = listOf("$geometritoleranse") }
        tidspunkt?.apply { localVariableQuery["tidspunkt"] = listOf("$tidspunkt") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v4/vegobjekt",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter inkluder
     */
    @Serializable
    enum class InkluderGetVegobjektById1(val value: kotlin.String) {
        
        @SerialName(value = "metadata")
        metadata("metadata"),
        
        @SerialName(value = "egenskaper")
        egenskaper("egenskaper"),
        
        @SerialName(value = "relasjoner")
        relasjoner("relasjoner"),
        
        @SerialName(value = "lokasjon")
        lokasjon("lokasjon"),
        
        @SerialName(value = "vegsegmenter")
        vegsegmenter("vegsegmenter"),
        
        @SerialName(value = "geometri")
        geometri("geometri"),
        
        @SerialName(value = "alle")
        alle("alle"),
        
        @SerialName(value = "minimum")
        minimum("minimum")
        
    }


    /**
     * enum for parameter srid
     */
    @Serializable
    enum class SridGetVegobjektById1(val value: kotlin.String) {
        
        @SerialName(value = "5972")
        _5972("5972"),
        
        @SerialName(value = "5973")
        _5973("5973"),
        
        @SerialName(value = "5975")
        _5975("5975"),
        
        @SerialName(value = "4326")
        _4326("4326"),
        
        @SerialName(value = "UTM32")
        uTM32("UTM32"),
        
        @SerialName(value = "UTM33")
        uTM33("UTM33"),
        
        @SerialName(value = "UTM35")
        uTM35("UTM35"),
        
        @SerialName(value = "WGS84")
        wGS84("WGS84")
        
    }


    /**
     * enum for parameter inkludergeometri
     */
    @Serializable
    enum class InkludergeometriGetVegobjektById1(val value: kotlin.String) {
        
        @SerialName(value = "ingen")
        ingen("ingen"),
        
        @SerialName(value = "egenskaper")
        egenskaper("egenskaper"),
        
        @SerialName(value = "lokasjon")
        lokasjon("lokasjon"),
        
        @SerialName(value = "utledet")
        utledet("utledet")
        
    }


    /**
     * enum for parameter inkluderEgenskaper
     */
    @Serializable
    enum class InkluderEgenskaperGetVegobjektById1(val value: kotlin.String) {
        
        @SerialName(value = "basis")
        basis("basis"),
        
        @SerialName(value = "assosiasjon")
        assosiasjon("assosiasjon"),
        
        @SerialName(value = "stedfesting")
        stedfesting("stedfesting"),
        
        @SerialName(value = "geometri")
        geometri("geometri"),
        
        @SerialName(value = "alle")
        alle("alle")
        
    }

    /**
     * Hent gjeldende versjon av et vegobjekt
     * 
     * @param vegobjekttypeId Finn vegobjekter med denne vegobjekttypen. Se [Datakatalogen](https://datakatalogen.atlas.vegvesen.no) for mulige verdier.  Eksempel: 581         
     * @param vegobjektId 
     * @param inkluder Kommaseparert liste over hvilke informasjonselementer som skal returneres i tillegg til vegobjektenes ID. (optional)
     * @param srid Angir hvilket geografisk referansesystem som benyttes for geografisk søk, og som geometrien skal returneres i (hvis relevant). Utdata i UTM-formater begrenses til 3 desimaler, 4326/WGS84 begrenses til 8 desimaler. Mer informasjon: &lt;a href&#x3D;&#39;https://epsg.io/5972&#39;&gt;EPSG:5972&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/5973&#39;&gt;EPSG:5973&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/5975&#39;&gt;EPSG:5975&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/4326&#39;&gt;EPSG:4326&lt;/a&gt;. (optional)
     * @param inkludergeometri Et vegobjekt har opptil to geometrier, egengeometri og stedfestet geometri. Egengeometrien er plassert under &#x60;vegobjekt.egenskaper&#x60; om den finnes, stedfestet geometri er plassert under &#x60;vegobjekt.lokasjon&#x60;. I tillegg til de nevnte feltene på vegobjekt-responsen returneres også &#x60;vegobjekt.geometri&#x60; (dersom man har &#x60;inkluder&#x3D;geometri&#x60; eller &#x60;alle&#x60;), slik at man alltid finner geometrien for vegobjektet ett sted. Dette feltet er egengeometri dersom objektet har det, hvis ikke har feltet stedfestet geometri Ved hvilken av disse som er tilfelle finner man ut ved å se på &#x60;vegobjekt.geometri.egengeometri&#x60;. (optional)
     * @param inkluderEgenskaper Gir mulighet til å filtrere hvilke egenskaper som skal returneres med inkluder&#x3D;egenskaper. &#x60;basis&#x60; er alle egenskaper som ikke er assosiasjoner, stedfesting, geometri, eller lister av disse. (optional)
     * @param dybde Hvor mange nivå barn skal inkluderes. 1 betyr bare IDer, 2-n betyr ett eller flere mellomnivåer, &#39;full&#39; betyr alle nivåer. (optional)
     * @param geometritoleranse Angir om det skal returneres en forenklet geometri. Dersom parameteren utelates, returneres full geometri for vegobjektene. Nummeret angir distansetoleranse i meter for generering av forenklet geometri. (optional)
     * @param tidspunkt Finner versjonen som var gyldig denne datoen. (optional)
     * @return Vegobjekt
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getVegobjektById1(vegobjekttypeId: kotlin.Int, vegobjektId: kotlin.Long, inkluder: kotlin.collections.List<InkluderGetVegobjektById1>? = null, srid: SridGetVegobjektById1? = null, inkludergeometri: InkludergeometriGetVegobjektById1? = null, inkluderEgenskaper: InkluderEgenskaperGetVegobjektById1? = null, dybde: kotlin.String? = null, geometritoleranse: kotlin.Int? = null, tidspunkt: java.time.LocalDate? = null): HttpResponse<Vegobjekt> {

        val localVariableAuthNames = listOf<String>("bearerAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        inkluder?.apply { localVariableQuery["inkluder"] = toMultiValue(this, "multi") }
        srid?.apply { localVariableQuery["srid"] = listOf("$srid") }
        inkludergeometri?.apply { localVariableQuery["inkludergeometri"] = listOf("$inkludergeometri") }
        inkluderEgenskaper?.apply { localVariableQuery["inkluder_egenskaper"] = listOf("$inkluderEgenskaper") }
        dybde?.apply { localVariableQuery["dybde"] = listOf("$dybde") }
        geometritoleranse?.apply { localVariableQuery["geometritoleranse"] = listOf("$geometritoleranse") }
        tidspunkt?.apply { localVariableQuery["tidspunkt"] = listOf("$tidspunkt") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v4/vegobjekter/{vegobjekttypeId}/{vegobjektId}".replace("{" + "vegobjekttypeId" + "}", "$vegobjekttypeId").replace("{" + "vegobjektId" + "}", "$vegobjektId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter inkluder
     */
    @Serializable
    enum class InkluderGetVegobjektByIdAndVersjon(val value: kotlin.String) {
        
        @SerialName(value = "metadata")
        metadata("metadata"),
        
        @SerialName(value = "egenskaper")
        egenskaper("egenskaper"),
        
        @SerialName(value = "relasjoner")
        relasjoner("relasjoner"),
        
        @SerialName(value = "lokasjon")
        lokasjon("lokasjon"),
        
        @SerialName(value = "vegsegmenter")
        vegsegmenter("vegsegmenter"),
        
        @SerialName(value = "geometri")
        geometri("geometri"),
        
        @SerialName(value = "alle")
        alle("alle"),
        
        @SerialName(value = "minimum")
        minimum("minimum")
        
    }


    /**
     * enum for parameter srid
     */
    @Serializable
    enum class SridGetVegobjektByIdAndVersjon(val value: kotlin.String) {
        
        @SerialName(value = "5972")
        _5972("5972"),
        
        @SerialName(value = "5973")
        _5973("5973"),
        
        @SerialName(value = "5975")
        _5975("5975"),
        
        @SerialName(value = "4326")
        _4326("4326"),
        
        @SerialName(value = "UTM32")
        uTM32("UTM32"),
        
        @SerialName(value = "UTM33")
        uTM33("UTM33"),
        
        @SerialName(value = "UTM35")
        uTM35("UTM35"),
        
        @SerialName(value = "WGS84")
        wGS84("WGS84")
        
    }


    /**
     * enum for parameter inkludergeometri
     */
    @Serializable
    enum class InkludergeometriGetVegobjektByIdAndVersjon(val value: kotlin.String) {
        
        @SerialName(value = "ingen")
        ingen("ingen"),
        
        @SerialName(value = "egenskaper")
        egenskaper("egenskaper"),
        
        @SerialName(value = "lokasjon")
        lokasjon("lokasjon"),
        
        @SerialName(value = "utledet")
        utledet("utledet")
        
    }


    /**
     * enum for parameter inkluderEgenskaper
     */
    @Serializable
    enum class InkluderEgenskaperGetVegobjektByIdAndVersjon(val value: kotlin.String) {
        
        @SerialName(value = "basis")
        basis("basis"),
        
        @SerialName(value = "assosiasjon")
        assosiasjon("assosiasjon"),
        
        @SerialName(value = "stedfesting")
        stedfesting("stedfesting"),
        
        @SerialName(value = "geometri")
        geometri("geometri"),
        
        @SerialName(value = "alle")
        alle("alle")
        
    }

    /**
     * Hent spesifikk versjon av et vegobjekt
     * 
     * @param vegobjekttypeId Finn vegobjekter med denne vegobjekttypen. Se [Datakatalogen](https://datakatalogen.atlas.vegvesen.no) for mulige verdier.  Eksempel: 581         
     * @param vegobjektId 
     * @param versjon 
     * @param inkluder Kommaseparert liste over hvilke informasjonselementer som skal returneres i tillegg til vegobjektenes ID. (optional)
     * @param srid Angir hvilket geografisk referansesystem som benyttes for geografisk søk, og som geometrien skal returneres i (hvis relevant). Utdata i UTM-formater begrenses til 3 desimaler, 4326/WGS84 begrenses til 8 desimaler. Mer informasjon: &lt;a href&#x3D;&#39;https://epsg.io/5972&#39;&gt;EPSG:5972&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/5973&#39;&gt;EPSG:5973&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/5975&#39;&gt;EPSG:5975&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/4326&#39;&gt;EPSG:4326&lt;/a&gt;. (optional)
     * @param inkludergeometri Et vegobjekt har opptil to geometrier, egengeometri og stedfestet geometri. Egengeometrien er plassert under &#x60;vegobjekt.egenskaper&#x60; om den finnes, stedfestet geometri er plassert under &#x60;vegobjekt.lokasjon&#x60;. I tillegg til de nevnte feltene på vegobjekt-responsen returneres også &#x60;vegobjekt.geometri&#x60; (dersom man har &#x60;inkluder&#x3D;geometri&#x60; eller &#x60;alle&#x60;), slik at man alltid finner geometrien for vegobjektet ett sted. Dette feltet er egengeometri dersom objektet har det, hvis ikke har feltet stedfestet geometri Ved hvilken av disse som er tilfelle finner man ut ved å se på &#x60;vegobjekt.geometri.egengeometri&#x60;. (optional)
     * @param inkluderEgenskaper Gir mulighet til å filtrere hvilke egenskaper som skal returneres med inkluder&#x3D;egenskaper. &#x60;basis&#x60; er alle egenskaper som ikke er assosiasjoner, stedfesting, geometri, eller lister av disse. (optional)
     * @param dybde Hvor mange nivå barn skal inkluderes. 1 betyr bare IDer, 2-n betyr ett eller flere mellomnivåer, &#39;full&#39; betyr alle nivåer. (optional)
     * @param geometritoleranse Angir om det skal returneres en forenklet geometri. Dersom parameteren utelates, returneres full geometri for vegobjektene. Nummeret angir distansetoleranse i meter for generering av forenklet geometri. (optional)
     * @param tidspunkt Finner versjonen som var gyldig denne datoen. (optional)
     * @return Vegobjekt
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getVegobjektByIdAndVersjon(vegobjekttypeId: kotlin.Int, vegobjektId: kotlin.Long, versjon: kotlin.Int, inkluder: kotlin.collections.List<InkluderGetVegobjektByIdAndVersjon>? = null, srid: SridGetVegobjektByIdAndVersjon? = null, inkludergeometri: InkludergeometriGetVegobjektByIdAndVersjon? = null, inkluderEgenskaper: InkluderEgenskaperGetVegobjektByIdAndVersjon? = null, dybde: kotlin.String? = null, geometritoleranse: kotlin.Int? = null, tidspunkt: java.time.LocalDate? = null): HttpResponse<Vegobjekt> {

        val localVariableAuthNames = listOf<String>("bearerAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        inkluder?.apply { localVariableQuery["inkluder"] = toMultiValue(this, "multi") }
        srid?.apply { localVariableQuery["srid"] = listOf("$srid") }
        inkludergeometri?.apply { localVariableQuery["inkludergeometri"] = listOf("$inkludergeometri") }
        inkluderEgenskaper?.apply { localVariableQuery["inkluder_egenskaper"] = listOf("$inkluderEgenskaper") }
        dybde?.apply { localVariableQuery["dybde"] = listOf("$dybde") }
        geometritoleranse?.apply { localVariableQuery["geometritoleranse"] = listOf("$geometritoleranse") }
        tidspunkt?.apply { localVariableQuery["tidspunkt"] = listOf("$tidspunkt") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v4/vegobjekter/{vegobjekttypeId}/{vegobjektId}/{versjon}".replace("{" + "vegobjekttypeId" + "}", "$vegobjekttypeId").replace("{" + "vegobjektId" + "}", "$vegobjektId").replace("{" + "versjon" + "}", "$versjon"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter inkluder
     */
    @Serializable
    enum class InkluderGetVegobjektVersjoner(val value: kotlin.String) {
        
        @SerialName(value = "metadata")
        metadata("metadata"),
        
        @SerialName(value = "egenskaper")
        egenskaper("egenskaper"),
        
        @SerialName(value = "relasjoner")
        relasjoner("relasjoner"),
        
        @SerialName(value = "lokasjon")
        lokasjon("lokasjon"),
        
        @SerialName(value = "vegsegmenter")
        vegsegmenter("vegsegmenter"),
        
        @SerialName(value = "geometri")
        geometri("geometri"),
        
        @SerialName(value = "alle")
        alle("alle"),
        
        @SerialName(value = "minimum")
        minimum("minimum")
        
    }


    /**
     * enum for parameter srid
     */
    @Serializable
    enum class SridGetVegobjektVersjoner(val value: kotlin.String) {
        
        @SerialName(value = "5972")
        _5972("5972"),
        
        @SerialName(value = "5973")
        _5973("5973"),
        
        @SerialName(value = "5975")
        _5975("5975"),
        
        @SerialName(value = "4326")
        _4326("4326"),
        
        @SerialName(value = "UTM32")
        uTM32("UTM32"),
        
        @SerialName(value = "UTM33")
        uTM33("UTM33"),
        
        @SerialName(value = "UTM35")
        uTM35("UTM35"),
        
        @SerialName(value = "WGS84")
        wGS84("WGS84")
        
    }


    /**
     * enum for parameter inkludergeometri
     */
    @Serializable
    enum class InkludergeometriGetVegobjektVersjoner(val value: kotlin.String) {
        
        @SerialName(value = "ingen")
        ingen("ingen"),
        
        @SerialName(value = "egenskaper")
        egenskaper("egenskaper"),
        
        @SerialName(value = "lokasjon")
        lokasjon("lokasjon"),
        
        @SerialName(value = "utledet")
        utledet("utledet")
        
    }


    /**
     * enum for parameter inkluderEgenskaper
     */
    @Serializable
    enum class InkluderEgenskaperGetVegobjektVersjoner(val value: kotlin.String) {
        
        @SerialName(value = "basis")
        basis("basis"),
        
        @SerialName(value = "assosiasjon")
        assosiasjon("assosiasjon"),
        
        @SerialName(value = "stedfesting")
        stedfesting("stedfesting"),
        
        @SerialName(value = "geometri")
        geometri("geometri"),
        
        @SerialName(value = "alle")
        alle("alle")
        
    }

    /**
     * Hent alle versjoner av et vegobjekt
     * 
     * @param vegobjekttypeId Finn vegobjekter med denne vegobjekttypen. Se [Datakatalogen](https://datakatalogen.atlas.vegvesen.no) for mulige verdier.  Eksempel: 581         
     * @param vegobjektId 
     * @param inkluder Kommaseparert liste over hvilke informasjonselementer som skal returneres i tillegg til vegobjektenes ID. (optional)
     * @param srid Angir hvilket geografisk referansesystem som benyttes for geografisk søk, og som geometrien skal returneres i (hvis relevant). Utdata i UTM-formater begrenses til 3 desimaler, 4326/WGS84 begrenses til 8 desimaler. Mer informasjon: &lt;a href&#x3D;&#39;https://epsg.io/5972&#39;&gt;EPSG:5972&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/5973&#39;&gt;EPSG:5973&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/5975&#39;&gt;EPSG:5975&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/4326&#39;&gt;EPSG:4326&lt;/a&gt;. (optional)
     * @param inkludergeometri Et vegobjekt har opptil to geometrier, egengeometri og stedfestet geometri. Egengeometrien er plassert under &#x60;vegobjekt.egenskaper&#x60; om den finnes, stedfestet geometri er plassert under &#x60;vegobjekt.lokasjon&#x60;. I tillegg til de nevnte feltene på vegobjekt-responsen returneres også &#x60;vegobjekt.geometri&#x60; (dersom man har &#x60;inkluder&#x3D;geometri&#x60; eller &#x60;alle&#x60;), slik at man alltid finner geometrien for vegobjektet ett sted. Dette feltet er egengeometri dersom objektet har det, hvis ikke har feltet stedfestet geometri Ved hvilken av disse som er tilfelle finner man ut ved å se på &#x60;vegobjekt.geometri.egengeometri&#x60;. (optional)
     * @param inkluderEgenskaper Gir mulighet til å filtrere hvilke egenskaper som skal returneres med inkluder&#x3D;egenskaper. &#x60;basis&#x60; er alle egenskaper som ikke er assosiasjoner, stedfesting, geometri, eller lister av disse. (optional)
     * @param dybde Hvor mange nivå barn skal inkluderes. 1 betyr bare IDer, 2-n betyr ett eller flere mellomnivåer, &#39;full&#39; betyr alle nivåer. (optional)
     * @param geometritoleranse Angir om det skal returneres en forenklet geometri. Dersom parameteren utelates, returneres full geometri for vegobjektene. Nummeret angir distansetoleranse i meter for generering av forenklet geometri. (optional)
     * @param tidspunkt Finner versjonen som var gyldig denne datoen. (optional)
     * @return kotlin.collections.List<Vegobjekt>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getVegobjektVersjoner(vegobjekttypeId: kotlin.Int, vegobjektId: kotlin.Long, inkluder: kotlin.collections.List<InkluderGetVegobjektVersjoner>? = null, srid: SridGetVegobjektVersjoner? = null, inkludergeometri: InkludergeometriGetVegobjektVersjoner? = null, inkluderEgenskaper: InkluderEgenskaperGetVegobjektVersjoner? = null, dybde: kotlin.String? = null, geometritoleranse: kotlin.Int? = null, tidspunkt: java.time.LocalDate? = null): HttpResponse<kotlin.collections.List<Vegobjekt>> {

        val localVariableAuthNames = listOf<String>("bearerAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        inkluder?.apply { localVariableQuery["inkluder"] = toMultiValue(this, "multi") }
        srid?.apply { localVariableQuery["srid"] = listOf("$srid") }
        inkludergeometri?.apply { localVariableQuery["inkludergeometri"] = listOf("$inkludergeometri") }
        inkluderEgenskaper?.apply { localVariableQuery["inkluder_egenskaper"] = listOf("$inkluderEgenskaper") }
        dybde?.apply { localVariableQuery["dybde"] = listOf("$dybde") }
        geometritoleranse?.apply { localVariableQuery["geometritoleranse"] = listOf("$geometritoleranse") }
        tidspunkt?.apply { localVariableQuery["tidspunkt"] = listOf("$tidspunkt") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v4/vegobjekter/{vegobjekttypeId}/{vegobjektId}/versjoner".replace("{" + "vegobjekttypeId" + "}", "$vegobjekttypeId").replace("{" + "vegobjektId" + "}", "$vegobjektId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetVegobjektVersjonerResponse>().map { value }
    }

    @Serializable(GetVegobjektVersjonerResponse.Companion::class)
    private class GetVegobjektVersjonerResponse(val value: List<Vegobjekt>) {
        companion object : KSerializer<GetVegobjektVersjonerResponse> {
            private val serializer: KSerializer<List<Vegobjekt>> = serializer<List<Vegobjekt>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: GetVegobjektVersjonerResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = GetVegobjektVersjonerResponse(serializer.deserialize(decoder))
        }
    }


    /**
     * enum for parameter inkluder
     */
    @Serializable
    enum class InkluderGetVegobjekterByType(val value: kotlin.String) {
        
        @SerialName(value = "metadata")
        metadata("metadata"),
        
        @SerialName(value = "egenskaper")
        egenskaper("egenskaper"),
        
        @SerialName(value = "relasjoner")
        relasjoner("relasjoner"),
        
        @SerialName(value = "lokasjon")
        lokasjon("lokasjon"),
        
        @SerialName(value = "vegsegmenter")
        vegsegmenter("vegsegmenter"),
        
        @SerialName(value = "geometri")
        geometri("geometri"),
        
        @SerialName(value = "alle")
        alle("alle"),
        
        @SerialName(value = "minimum")
        minimum("minimum")
        
    }


    /**
     * enum for parameter srid
     */
    @Serializable
    enum class SridGetVegobjekterByType(val value: kotlin.String) {
        
        @SerialName(value = "5972")
        _5972("5972"),
        
        @SerialName(value = "5973")
        _5973("5973"),
        
        @SerialName(value = "5975")
        _5975("5975"),
        
        @SerialName(value = "4326")
        _4326("4326"),
        
        @SerialName(value = "UTM32")
        uTM32("UTM32"),
        
        @SerialName(value = "UTM33")
        uTM33("UTM33"),
        
        @SerialName(value = "UTM35")
        uTM35("UTM35"),
        
        @SerialName(value = "WGS84")
        wGS84("WGS84")
        
    }


    /**
     * enum for parameter inkludergeometri
     */
    @Serializable
    enum class InkludergeometriGetVegobjekterByType(val value: kotlin.String) {
        
        @SerialName(value = "ingen")
        ingen("ingen"),
        
        @SerialName(value = "egenskaper")
        egenskaper("egenskaper"),
        
        @SerialName(value = "lokasjon")
        lokasjon("lokasjon"),
        
        @SerialName(value = "utledet")
        utledet("utledet")
        
    }


    /**
     * enum for parameter inkluderEgenskaper
     */
    @Serializable
    enum class InkluderEgenskaperGetVegobjekterByType(val value: kotlin.String) {
        
        @SerialName(value = "basis")
        basis("basis"),
        
        @SerialName(value = "assosiasjon")
        assosiasjon("assosiasjon"),
        
        @SerialName(value = "stedfesting")
        stedfesting("stedfesting"),
        
        @SerialName(value = "geometri")
        geometri("geometri"),
        
        @SerialName(value = "alle")
        alle("alle")
        
    }


    /**
     * enum for parameter typeveg
     */
    @Serializable
    enum class TypevegGetVegobjekterByType(val value: kotlin.String) {
        
        @SerialName(value = "kanalisertVeg")
        kanalisertVeg("kanalisertVeg"),
        
        @SerialName(value = "enkelBilveg")
        enkelBilveg("enkelBilveg"),
        
        @SerialName(value = "rampe")
        rampe("rampe"),
        
        @SerialName(value = "rundkjøring")
        rundkjøring("rundkjøring"),
        
        @SerialName(value = "bilferje")
        bilferje("bilferje"),
        
        @SerialName(value = "passasjerferje")
        passasjerferje("passasjerferje"),
        
        @SerialName(value = "gangOgSykkelveg")
        gangOgSykkelveg("gangOgSykkelveg"),
        
        @SerialName(value = "sykkelveg")
        sykkelveg("sykkelveg"),
        
        @SerialName(value = "gangveg")
        gangveg("gangveg"),
        
        @SerialName(value = "gågate")
        gågate("gågate"),
        
        @SerialName(value = "fortau")
        fortau("fortau"),
        
        @SerialName(value = "trapp")
        trapp("trapp"),
        
        @SerialName(value = "gangfelt")
        gangfelt("gangfelt"),
        
        @SerialName(value = "gatetun")
        gatetun("gatetun"),
        
        @SerialName(value = "traktorveg")
        traktorveg("traktorveg"),
        
        @SerialName(value = "sti")
        sti("sti"),
        
        @SerialName(value = "annet")
        annet("annet")
        
    }


    /**
     * enum for parameter adskiltelop
     */
    @Serializable
    enum class AdskiltelopGetVegobjekterByType(val value: kotlin.String) {
        
        @SerialName(value = "Med")
        med("Med"),
        
        @SerialName(value = "Mot")
        mot("Mot"),
        
        @SerialName(value = "Nei")
        nei("Nei")
        
    }


    /**
     * enum for parameter trafikantgruppe
     */
    @Serializable
    enum class TrafikantgruppeGetVegobjekterByType(val value: kotlin.String) {
        
        @SerialName(value = "K")
        k("K"),
        
        @SerialName(value = "G")
        g("G")
        
    }


    /**
     * enum for parameter veglenketype
     */
    @Serializable
    enum class VeglenketypeGetVegobjekterByType(val value: kotlin.String) {
        
        @SerialName(value = "ukjent")
        ukjent("ukjent"),
        
        @SerialName(value = "detaljert")
        detaljert("detaljert"),
        
        @SerialName(value = "konnektering")
        konnektering("konnektering"),
        
        @SerialName(value = "detaljert_konnektering")
        detaljertKonnektering("detaljert_konnektering"),
        
        @SerialName(value = "hoved")
        hoved("hoved")
        
    }


    /**
     * enum for parameter detaljniva
     */
    @Serializable
    enum class DetaljnivaGetVegobjekterByType(val value: kotlin.String) {
        
        @SerialName(value = "VT")
        vT("VT"),
        
        @SerialName(value = "KB")
        kB("KB"),
        
        @SerialName(value = "KF")
        kF("KF"),
        
        @SerialName(value = "VTKB")
        vTKB("VTKB")
        
    }

    /**
     * Hent vegobjekter av en type
     * 
     * @param vegobjekttypeId Finn vegobjekter med denne vegobjekttypen. Se [Datakatalogen](https://datakatalogen.atlas.vegvesen.no) for mulige verdier.  Eksempel: 581         
     * @param ider Kommaseparert liste med vegobjekt-IDer. (optional)
     * @param inkluder Kommaseparert liste over hvilke informasjonselementer som skal returneres i tillegg til vegobjektenes ID. (optional)
     * @param srid Angir hvilket geografisk referansesystem som benyttes for geografisk søk, og som geometrien skal returneres i (hvis relevant). Utdata i UTM-formater begrenses til 3 desimaler, 4326/WGS84 begrenses til 8 desimaler. Mer informasjon: &lt;a href&#x3D;&#39;https://epsg.io/5972&#39;&gt;EPSG:5972&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/5973&#39;&gt;EPSG:5973&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/5975&#39;&gt;EPSG:5975&lt;/a&gt; &lt;a href&#x3D;&#39;https://epsg.io/4326&#39;&gt;EPSG:4326&lt;/a&gt;. (optional)
     * @param inkludergeometri Et vegobjekt har opptil to geometrier, egengeometri og stedfestet geometri. Egengeometrien er plassert under &#x60;vegobjekt.egenskaper&#x60; om den finnes, stedfestet geometri er plassert under &#x60;vegobjekt.lokasjon&#x60;. I tillegg til de nevnte feltene på vegobjekt-responsen returneres også &#x60;vegobjekt.geometri&#x60; (dersom man har &#x60;inkluder&#x3D;geometri&#x60; eller &#x60;alle&#x60;), slik at man alltid finner geometrien for vegobjektet ett sted. Dette feltet er egengeometri dersom objektet har det, hvis ikke har feltet stedfestet geometri Ved hvilken av disse som er tilfelle finner man ut ved å se på &#x60;vegobjekt.geometri.egengeometri&#x60;. (optional)
     * @param inkluderEgenskaper Gir mulighet til å filtrere hvilke egenskaper som skal returneres med inkluder&#x3D;egenskaper. &#x60;basis&#x60; er alle egenskaper som ikke er assosiasjoner, stedfesting, geometri, eller lister av disse. (optional)
     * @param segmentering Angir om strekningsobjekter skal segmenteres etter søkeområdet (fylke, kommune, vegsystemreferanse, kontraktsområde, riksvegrute).  Default: &#x60;true&#x60; (optional)
     * @param fylke Filtrer på fylke. Kommaseparert liste. Se /omrader/fylker for mulige verdier.  Eksempel: &#x60;50&#x60; (optional)
     * @param kommune Filtrer på kommune. Kommaseparert liste. Se /omrader/kommuner for mulige verdier.  Eksempel: &#x60;5001&#x60; (optional)
     * @param kontraktsomrade Filtrer på kontraktsomrade. Kommaseparert liste. Se /omrader/kontraktsomrader for mulige verdier.  Eksempel: &#x60;1539 Tunnel- og bergsikr 2018-2023 Nordm og Romsd&#x60; (optional)
     * @param riksvegrute Filtrer på riksvegrute. Kommaseparert liste. Se /omrader/riksvegruter for mulige verdier.  Eksempel: &#x60;RUTE4A&#x60; eller som enumid &#x60;20290&#x60; (optional)
     * @param vegsystemreferanse Filtrer vegobjekter på [vegsystemreferanse](https://nvdbapiles-v3.atlas.vegvesen.no/dokumentasjon/#vegsystemreferanse). Kommaseparert liste. Legg til kommunenummer i starten av vegsystemreferansen for å filtrere på område.  Eksempel: &#x60;EV6S1D1 m12&#x60; (optional)
     * @param kartutsnitt Filtrer vegobjekter med kartutsnitt i det gjeldende geografiske referansesystemet (&#x60;srid&#x60;-paramteret). Formatet er &#x60;minX, minY, maxX, maxY&#x60;.  Eksempel: &#x60;265273, 7019372, 346553, 7061071&#x60; (optional)
     * @param polygon Filtrer vegobjekter med polygon i det gjeldende geografiske referansesystemet (&#x60;srid&#x60;-paramteret).  Eksempel: &#x60;20000 6520000, 20500 6520000, 21000 6500000, 20000 6520000&#x60; (optional)
     * @param typeveg Filtrer vegobjekter på type veg på vegnettet objektet er stedfestet på. Kommaseparert liste.  Eksempel: &#x60;kanalisertVeg, enkelBilveg, rampe, rundkjøring, bilferje, passasjerferje, gangOgSykkelveg, sykkelveg, gangveg, gågate, fortau, trapp, gangfelt, gatetun, traktorveg, sti, annet&#x60; (optional)
     * @param overlappendeVegobjektIder Filtrer vegobjekter på om de har geometri som overlapper med vegobjekt med gitt id. Hvis flere vegobjekt-ider spesifiseres vil vegobjekter som overlapper med minst én av de bli returnert. (optional)
     * @param adskiltelop Filtrer vegobjekter på om de er stedfestet hvor det er en Strekning med verdi satt for «adskilte løp». (optional)
     * @param kryssystem Filtrer vegobjekter på om de er stedfestet på samme sted hvor det er et Kryssystem. (optional)
     * @param sideanlegg Filtrer vegobjekter på om de er stedfestet på samme sted hvor det er et Sideanlegg. (optional)
     * @param trafikantgruppe Filtrer vegobjekter på trafikantgruppe. (optional)
     * @param antall Angir hvor mange objekter som skal returneres. Øvre grense er avhengig av størrelse på respons, og vil kunne variere fra endepunkt til endepunkt. Dersom det angis en verdi for antall som overskrider maksimum, vil maksimumsverdi benyttes. Se også &#x60;sidestørrelse&#x60; i responsens &#x60;metadata&#x60;-objekt. (optional)
     * @param start Angir offset for hvilke objekter som skal returneres. Denne får man i metadata-feltet i responsen. (optional)
     * @param geometritoleranse Angir om det skal returneres en forenklet geometri. Dersom parameteren utelates, returneres full geometri for vegobjektene. Nummeret angir distansetoleranse i meter for generering av forenklet geometri. (optional)
     * @param tidspunkt Finner versjonen som var gyldig denne datoen. (optional)
     * @param alleVersjoner Returner alle versjoner som matcher de oppgitte parametrene. Dersom ikke satt eller &#x60;false&#x60; vil kun objekter uten sluttdato returneres. (optional)
     * @param inkluderAntall Hvorvidt totalt antall objekter skal returneres i responsen. Default er &#x60;false&#x60;. (optional)
     * @param sortert Hvorvidt resultatet skal sorteres på ID. Default er &#x60;true&#x60;. Bør være satt for paginering for å sikre deterministisk resultat, men kan slås av for å forbedre ytelse. Satt &#x60;false&#x60; som standard for søk med kartutsnitt eller polygon. (optional)
     * @param veglenkesekvens Filtrer vegobjekter på om de er stedfestet på gjeldende veglenkesekvenser. Kommaseparert liste.  Eksempel: &#x60;0.37@319531,0.83-0.97@41640&#x60; (optional)
     * @param egenskap Filtrer vegobjekter på egenskaper, relasjoner og overlapp. Se [dokumentasjon](https://nvdb.atlas.vegvesen.no/docs/produkter/nvdbapil/v4/introduksjon/Avanserte_filter) (optional)
     * @param overlapp Filtrer vegobjekter på overlapp. Se [dokumentasjon](https://nvdb.atlas.vegvesen.no/docs/produkter/nvdbapil/v4/introduksjon/Avanserte_filter) (optional)
     * @param veglenketype Filtrer vegobjekter på veglenketype på vegnettet objektet er stedfestet. Kommaseparert liste. (optional)
     * @param detaljniva Filtrer vegobjekter på detaljnivå på vegnettet objektet er stedfestet på (kortnavn fra datakatalogen). (optional)
     * @param endretEtter Hente endringer siden sist. Eksempel: 2024-12-02T10:15:30.123456 (optional)
     * @return VegobjekterSide
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getVegobjekterByType(vegobjekttypeId: kotlin.Int, ider: kotlin.collections.List<kotlin.Long>? = null, inkluder: kotlin.collections.List<InkluderGetVegobjekterByType>? = null, srid: SridGetVegobjekterByType? = null, inkludergeometri: InkludergeometriGetVegobjekterByType? = null, inkluderEgenskaper: InkluderEgenskaperGetVegobjekterByType? = null, segmentering: kotlin.Boolean? = null, fylke: kotlin.collections.List<kotlin.Int>? = null, kommune: kotlin.collections.List<kotlin.Int>? = null, kontraktsomrade: kotlin.collections.List<kotlin.String>? = null, riksvegrute: kotlin.collections.List<kotlin.String>? = null, vegsystemreferanse: kotlin.collections.List<kotlin.String>? = null, kartutsnitt: kotlin.String? = null, polygon: kotlin.String? = null, typeveg: kotlin.collections.List<TypevegGetVegobjekterByType>? = null, overlappendeVegobjektIder: kotlin.collections.List<kotlin.Long>? = null, adskiltelop: kotlin.collections.List<AdskiltelopGetVegobjekterByType>? = null, kryssystem: kotlin.Boolean? = null, sideanlegg: kotlin.Boolean? = null, trafikantgruppe: TrafikantgruppeGetVegobjekterByType? = null, antall: kotlin.Int? = null, start: kotlin.String? = null, geometritoleranse: kotlin.Int? = null, tidspunkt: java.time.LocalDate? = null, alleVersjoner: kotlin.Boolean? = null, inkluderAntall: kotlin.Boolean? = null, sortert: kotlin.Boolean? = null, veglenkesekvens: kotlin.collections.List<kotlin.String>? = null, egenskap: kotlin.collections.List<kotlin.String>? = null, overlapp: kotlin.collections.List<kotlin.String>? = null, veglenketype: kotlin.collections.List<VeglenketypeGetVegobjekterByType>? = null, detaljniva: kotlin.collections.List<DetaljnivaGetVegobjekterByType>? = null, endretEtter: kotlinx.datetime.Instant? = null): HttpResponse<VegobjekterSide> {

        val localVariableAuthNames = listOf<String>("bearerAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ider?.apply { localVariableQuery["ider"] = toMultiValue(this, "multi") }
        inkluder?.apply { localVariableQuery["inkluder"] = toMultiValue(this, "multi") }
        srid?.apply { localVariableQuery["srid"] = listOf("$srid") }
        inkludergeometri?.apply { localVariableQuery["inkludergeometri"] = listOf("$inkludergeometri") }
        inkluderEgenskaper?.apply { localVariableQuery["inkluder_egenskaper"] = listOf("$inkluderEgenskaper") }
        segmentering?.apply { localVariableQuery["segmentering"] = listOf("$segmentering") }
        fylke?.apply { localVariableQuery["fylke"] = toMultiValue(this, "multi") }
        kommune?.apply { localVariableQuery["kommune"] = toMultiValue(this, "multi") }
        kontraktsomrade?.apply { localVariableQuery["kontraktsomrade"] = toMultiValue(this, "multi") }
        riksvegrute?.apply { localVariableQuery["riksvegrute"] = toMultiValue(this, "multi") }
        vegsystemreferanse?.apply { localVariableQuery["vegsystemreferanse"] = toMultiValue(this, "multi") }
        kartutsnitt?.apply { localVariableQuery["kartutsnitt"] = listOf("$kartutsnitt") }
        polygon?.apply { localVariableQuery["polygon"] = listOf("$polygon") }
        typeveg?.apply { localVariableQuery["typeveg"] = toMultiValue(this, "multi") }
        overlappendeVegobjektIder?.apply { localVariableQuery["overlappendeVegobjektIder"] = toMultiValue(this, "multi") }
        adskiltelop?.apply { localVariableQuery["adskiltelop"] = toMultiValue(this, "multi") }
        kryssystem?.apply { localVariableQuery["kryssystem"] = listOf("$kryssystem") }
        sideanlegg?.apply { localVariableQuery["sideanlegg"] = listOf("$sideanlegg") }
        trafikantgruppe?.apply { localVariableQuery["trafikantgruppe"] = listOf("$trafikantgruppe") }
        antall?.apply { localVariableQuery["antall"] = listOf("$antall") }
        start?.apply { localVariableQuery["start"] = listOf("$start") }
        geometritoleranse?.apply { localVariableQuery["geometritoleranse"] = listOf("$geometritoleranse") }
        tidspunkt?.apply { localVariableQuery["tidspunkt"] = listOf("$tidspunkt") }
        alleVersjoner?.apply { localVariableQuery["alle_versjoner"] = listOf("$alleVersjoner") }
        inkluderAntall?.apply { localVariableQuery["inkluderAntall"] = listOf("$inkluderAntall") }
        sortert?.apply { localVariableQuery["sortert"] = listOf("$sortert") }
        veglenkesekvens?.apply { localVariableQuery["veglenkesekvens"] = toMultiValue(this, "multi") }
        egenskap?.apply { localVariableQuery["egenskap"] = toMultiValue(this, "multi") }
        overlapp?.apply { localVariableQuery["overlapp"] = toMultiValue(this, "multi") }
        veglenketype?.apply { localVariableQuery["veglenketype"] = toMultiValue(this, "multi") }
        detaljniva?.apply { localVariableQuery["detaljniva"] = toMultiValue(this, "multi") }
        endretEtter?.apply { localVariableQuery["endret_etter"] = listOf("$endretEtter") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v4/vegobjekter/{vegobjekttypeId}".replace("{" + "vegobjekttypeId" + "}", "$vegobjekttypeId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
